body{background-color: 8A2ED0}
h1{
text-align: center;
text-color: #C0C0C0}
img{
   padding:5px solid #000000;
   border:1px solid #021a40
   
}
h3{
font-weight: bold}
body{text-align: center}
